.theme-btn__container {
    width: 3rem;
    aspect-ratio: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 1000;
    img {
        height: 100%;
        transition: all 0.3s;
        aspect-ratio: 1;
        filter: drop-shadow(1px 1px 1px var(--accent));

        &:hover {
            transform: rotate(5deg);
            filter: drop-shadow(1px 1px 3px var(--accent));
        }
    }
}
