.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    top: 0;

    h1,
    h2 {
        font-family: "Courier New", Courier, monospace;
        font-weight: lighter;
    }

    h1 {
        font-size: 1.5rem;
    }

    .home__welcome-text-container {
        text-align: center;
        z-index: 1;

        h2 {
            margin-bottom: 0;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-shadow: 1px 1px var(--background), 0px 0px 2px var(--background), 0px 0px 3px var(--background);
        }
        p {
            max-width: 15rem;
            font-size: 14px;
            letter-spacing: 2px;
            text-shadow: 1px 1px var(--background), 0px 0px 2px var(--background), 0px 0px 3px var(--background);
        }
    }

    .home__img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 0;
        .fox {
            height: 288px;
            aspect-ratio: 1;
            z-index: 4;
        }
        .left-wind,
        .right-wind,
        .leafs {
            z-index: 0;
            position: absolute;
        }

        .leafs {
            width: 400px;
            aspect-ratio: 1;
            transform: rotateX(120deg) translateY(-200px);
        }

        .left-wind {
            height: 120px;
            transform: translateX(-150px);
            -webkit-animation: shake-bl 30s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            animation: shake-bl 30s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }

        .right-wind {
            -webkit-animation: shake-tl 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            animation: shake-tl 20s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            height: 83px;
            transform: translateX(180px) translateY(110px);
        }
    }

    .home__cards-container {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        & > :first-child {
            -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
        & > :last-child {
            -webkit-animation: flip-in-ver-left 0.5s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: flip-in-ver-left 0.5s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 0:25:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
@keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 0:31:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bl
 * ----------------------------------------
 */
@-webkit-keyframes shake-bl {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg) translateX(-150px);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg) translateX(-150px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg) translateX(-150px);
        transform: rotate(-4deg) translateX(-150px);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg) translateX(-150px);
        transform: rotate(4deg) translateX(-150px);
    }
    80% {
        -webkit-transform: translateX(-150px) rotate(-2deg);
        transform: translateX(-150px) rotate(-2deg);
    }
    90% {
        -webkit-transform: translateX(-150px) rotate(2deg);
        transform: translateX(-150px) rotate(2deg);
    }
}
@keyframes shake-bl {
    0%,
    100% {
        -webkit-transform: translateX(-150px) rotate(0deg);
        transform: translateX(-150px) rotate(0deg);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
    10% {
        -webkit-transform: translateX(-150px) rotate(2deg);
        transform: translateX(-150px) rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(-150px) rotate(-4deg);
        transform: translateX(-150px) rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-150px) rotate(4deg);
        transform: translateX(-150px) rotate(4deg);
    }
    80% {
        -webkit-transform: translateX(-150px) rotate(-2deg);
        transform: translateX(-150px) rotate(-2deg);
    }
    90% {
        -webkit-transform: translateX(-150px) rotate(2deg);
        transform: translateX(-150px) rotate(2deg);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 0:33:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-tl
 * ----------------------------------------
 */
@-webkit-keyframes shake-tl {
    0%,
    100% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(0deg);
        transform: translateX(180px) translateY(110px) rotate(0deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    10% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(2deg);
        transform: translateX(180px) translateY(110px) rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(-4deg);
        transform: translateX(180px) translateY(110px) rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(4deg);
        transform: translateX(180px) translateY(110px) rotate(4deg);
    }
    80% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(-2deg);
        transform: translateX(180px) translateY(110px) rotate(-2deg);
    }
    90% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(2deg);
        transform: translateX(180px) translateY(110px) rotate(2deg);
    }
}
@keyframes shake-tl {
    0%,
    100% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(0deg);
        transform: translateX(180px) translateY(110px) rotate(0deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    10% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(2deg);
        transform: translateX(180px) translateY(110px) rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(-4deg);
        transform: translateX(180px) translateY(110px) rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(4deg);
        transform: translateX(180px) translateY(110px) rotate(4deg);
    }
    80% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(-2deg);
        transform: translateX(180px) translateY(110px) rotate(-2deg);
    }
    90% {
        -webkit-transform: translateX(180px) translateY(110px) rotate(2deg);
        transform: translateX(180px) translateY(110px) rotate(2deg);
    }
}
