.content__card-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    height: 65vh;
    margin: 1rem;

    .card {
        margin: auto 0;
        width: 340px;
    }

    &:first-of-type {
        margin-right: 2.2rem;

        .card {
            -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            margin-left: 3.2rem;
        }
    }

    &:last-of-type {
        margin-right: 3.5rem;
    }

    .btns__container {
        position: relative;
        bottom: -40%;
        left: -60%;
        display: flex;
        width: 80%;
        max-width: 320px;
        justify-content: center;
    }
}

.piquee {
    $color: hsl(36, 95%, 66%);
    background-color: transparentize($color, 0.82);
}

.apaisee {
    $color: hsl(169, 29%, 54%);
    background-color: transparentize($color, 0.82);
}

.inspiree {
    $color: hsl(5, 100%, 76%);
    background-color: transparentize($color, 0.82);
}
