.card-read__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .card-read__header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 80px;
        width: 100%;

        h1 {
            font-size: 1rem;
            text-align: center;
            width: 40%;
            font-weight: lighter;
        }

        .cloud-link__cloud {
            max-width: 98px;
        }
    }

    .card-read__card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        height: 70vh;
        margin: 1rem 0;
        -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        .btns__container {
            position: absolute;
            bottom: 0%;
            display: flex;
            width: 100%;
            max-width: 320px;
            justify-content: space-between;
        }
    }

    .card-read__footer-container {
        display: flex;
        position: absolute;
        bottom: 0;
        font-size: 1rem;
        font-family: "Courier New", Courier, monospace;
        max-width: 300px;
        margin: 15px;
        text-align: center;
    }
}

.reaction {
    &.step-1 {
        .card {
            transition: background-color 0.2s;
            animation: slide-out-elliptic-right-bck 0.7s ease-in both;
        }
        .btns__container > .basic-diamond-btn__container {
            transition: 0.4s;
            animation: slide-out-bottom 0.5s 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }
    }
    &.step-2 {
        .card,
        .btns__container,
        .card-read__footer-container {
            opacity: 0;
        }
        .confirm-container {
            position: absolute;
            text-align: center;
            opacity: 1;
            animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            z-index: 100;
            background-color: var(--secondary-background);
            border-radius: 15px;
            box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.5);
            padding: 15px;

            .card__content-img {
                cursor: pointer;
                margin: 15px;
                height: 15vh;
                filter: drop-shadow(5px 5px 3px rgba(128, 128, 128, 0.5));
            }

            .ballon {
                width: 100px;
                height: auto;
                position: absolute;
                z-index: 101;
                opacity: 0;
                animation: from-bottom-to-top 4s ease-in;
                &.b-1 {
                    margin-top: 200px;
                    left: -50px;
                    width: 150px;
                }
                &.b-2 {
                    left: 100px;
                    width: 80px;
                    filter: hue-rotate(-50deg);
                }
                &.b-3 {
                    left: 220px;
                    width: 200px;
                    margin-top: 400px;
                    filter: hue-rotate(140deg);
                }
                &.b-4 {
                    left: 150px;
                    margin-top: 600px;
                    filter: hue-rotate(200deg);
                }
            }
        }
    }
}

@keyframes from-bottom-to-top {
    0% {
        opacity: 1;
        transform: translateY(400px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2000px);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 23:45:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes fade-in-fwd {
    0% {
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 23:13:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-out-bottom {
    0% {
        transform: rotateY(0%) translateY(0);
        opacity: 1;
    }
    100% {
        transform: rotateY(45deg) translate(1000px, 1000px);
        opacity: 0;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 19:38:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
@keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 21:22:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-out-elliptic-right-bck {
    0% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: -1800px 50%;
        opacity: 1;
    }
    100% {
        transform: translateX(1000px) rotateY(-30deg) scale(0);
        transform-origin: -100% 50%;
        opacity: 1;
    }
}
