.cartodex__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .cartodex__header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 80px;
        width: 100%;

        h1 {
            font-size: 1rem;
            text-align: center;
            width: 40%;
            font-weight: lighter;
        }

        .cloud-link__cloud {
            max-width: 98px;
        }
    }
}

.cartodex__inner-container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;

    .inner__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;

        h2 {
            font-size: 0.8rem;
            font-weight: lighter;
        }

        .filter-btn__container {
            cursor: pointer;
            transition: all 0.2s;
            background-color: var(--secondary-background);
            height: 50px;
            width: 50px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px var(--shadow-color);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 80%;
            }

            &:active,
            &:hover {
                filter: brightness(1.1);
                transform: scale(1.1);
            }

            &.active {
                filter: brightness(1.1);
                transform: scale(1.1);
            }
        }
    }

    .inner__content {
        display: flex;
        width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

    .content-arrow__container {
        position: absolute;
        top: 45%;
        left: 0;
        width: 370px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .arrow {
            height: 50px;
            width: 50px;
            background-color: var(--accent);
            transform: rotate(-45deg);
            box-shadow: 2px 2px 2px var(--shadow-color);
            cursor: pointer;

            &:active,
            &:hover {
                filter: brightness(1.1);
                transform: rotate(-45deg) scale(1.1);
            }
        }

        .arrow-left {
            position: absolute;
            left: 15px;

            &:after {
                border: solid white;
                border-width: 2px 0 0 2px;
                height: 50%;
                aspect-ratio: 1;
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-45%, -45%);
            }
        }

        .arrow-right {
            position: absolute;
            right: 0;

            &:after {
                border: solid white;
                border-width: 0 2px 2px 0;
                height: 50%;
                aspect-ratio: 1;
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-55%, -55%);
            }
        }
    }

    .bottom__container {
        position: relative;
        top: 40px;
        font-size: 0.75rem;
        font-family: "Courier New", Courier, monospace;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 19:38:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
@keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
