.basic-diamond-btn__container {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px var(--shadow-color);
    transition: all 0.2s;
    cursor: pointer;

    &:active {
        filter: brightness(1.1);
        box-shadow: 2px 2px 15px;
        img {
            transform: rotate(-45deg) scale(1.1);
        }
    }

    img {
        transition: all 0.2s;
        transform: rotate(-45deg);
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
