.card-choice__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .card-choice__header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 80px;
        width: 100%;

        h1 {
            font-size: 1rem;
            text-align: center;
            width: 40%;
            font-weight: lighter;
        }

        .cloud-link__cloud {
            max-width: 98px;
        }
    }

    .card-choice__main-text {
        max-width: 80%;
        text-align: center;
    }

    .card-choice__cards-container {
        .card-choice__img {
            z-index: 0;
            height: 500px;
            transform: translateX(-60px);
            aspect-ratio: 1;
            position: absolute;
        }
        .cards {
            margin-top: 100px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            .left {
                z-index: 100;
                transform: rotate(-10deg) translateX(18px);
                -webkit-animation: tilt-in-bottom-1 0.6s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                animation: tilt-in-bottom-1 0.6s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .right {
                transform: rotate(8deg) translateX(-18px);

                -webkit-animation: tilt-in-bottom-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                animation: tilt-in-bottom-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
    }
    .card-choice__bottom-container {
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .counter {
            font-size: 2rem;
        }
        .text {
            letter-spacing: 1px;
            margin-top: 2rem;
            font-size: 14px;
            max-width: 80%;
        }
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 0:16:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-bottom-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-bottom-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(300px) skewY(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotate(-10deg) translateX(18px) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-bottom-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(300px) skewY(-30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotate(-10deg) translateX(18px) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 0:19:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-bottom-2
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-bottom-2 {
    0% {
        -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotate(8deg) translateX(-18px) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-bottom-2 {
    0% {
        -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        transform: rotateY(-30deg) translateY(300px) skewY(30deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotate(8deg) translateX(-18px) translateY(0) skewY(0deg);
        opacity: 1;
    }
}
