.dashboard__container {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .dashboard__header {
        display: flex;
        height: 13vh;
        background-color: var(--secondary-background);
        align-items: center;
        box-shadow: 1px -10px 15px 1px var(--shadow-color);

        .header__logo {
            height: 90%;
            margin: 5% 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 100%;
                width: auto;
                filter: drop-shadow(2px 2px 5px var(--shadow-color));
            }
        }
    }

    .dashboard__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 3vh 3vw;

        .inner__buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .content__container {
        width: auto;
        height: auto;
        padding: 15px;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .card {
            max-width: 320px;
            height: 70vh;

            textarea {
                height: 100%;
                width: auto;
                background-color: transparent;
                box-shadow: none;
                border: none;
                font-family: "Courier New", Courier, monospace;
                padding: 40px 0 50px 0;
                resize: none;
                &:active,
                &:focus {
                    outline: none;
                }
            }
        }

        label {
            margin: 15px 0 0 0;
        }
        select,
        input {
            border: 0;
            font-family: "Courier New", Courier, monospace;
            box-shadow: 1px 1px 3px var(--shadow-color);
            height: 1.5rem;
            border-radius: 5px;
            background: var(--background);
            transition: 0.2s;
            margin: 10px 0;
            &:hover {
                box-shadow: 2px 2px 3px var(--shadow-color);
                cursor: pointer;
                background: var(--secondary-background);
            }
            &:active,
            &:focus {
                outline: solid 1px hsl(36, 95%, 66%);
            }
        }
    }
}
