.cloud-link__container {
    display: block;
    max-width: 140px;
    max-height: 40px;
    text-align: center;
    text-decoration: none;
    color: var(--text-primary);

    &:visited {
        color: var(--text-primary);
    }
    .cloud-link__text {
        text-decoration: none;
        position: relative;
        top: 0;
        z-index: 2;
    }
    .cloud-link__cloud {
        top: 0;
        transform: translateY(-60%);
        left: -10px;
        z-index: 1;
        position: relative;
    }
}
