.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 25px;
  box-shadow: 2px 2px 2px var(--shadow-color);
  background-color: var(--secondary-background);
  font-family: "Courier New", Courier, monospace;
  min-width: 320px;
  font-size: medium;
  font-weight: bold;
  overflow-y: hidden;

  .card__content {
    padding: 40px 0 50px 0;
    overflow-y: auto;
    width: 80%;
    text-align: justify;
    height: 100%;

    .card__content-img-container {
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      .card__content-img {
        position: relative;
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }
}
