html,
body,
#root {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  height:100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: #f9efea;
  --secondary-background: #fff4f1;
  --shadow-color: #6e6d70;
  --text-primary: #363b44;
  --text-secondary: hsl(5, 100%, 76%);
  --accent: hsl(36, 95%, 66%);
  --calm-accent: hsl(169, 29%, 54%);
}

[data-theme="dark"] {
  --background: #363b44;
  --secondary-background: #525a69;
  --text-primary: #f9efea;
}

.primary {
  color: var(--accent);
}

.secondary {
  color: var(--text-secondary)
}

.calm {
  color: var(--calm-accent)
}

.primary-bg {
  background-color: var(--accent);
}

.secondary-bg {
  background-color: var(--text-secondary)
}

.calm-bg {
  background-color: var(--calm-accent)
}


.primary-background {
  color: var(--accent);
}

.secondary-background {
  color: var(--text-secondary)
}

.calm-background {
  color: var(--calm-accent)
}