.dashbutton__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    padding: 10px 50px;
    box-shadow: 2px 2px 4px hsla(240, 1%, 43%, 0.5);
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    filter: saturate(140%);

    &.calm-grdt {
        background: rgb(104, 172, 159);
        background: radial-gradient(
            circle,
            rgba(104, 172, 159, 1) 11%,
            rgba(104, 172, 159, 0.8) 55%,
            rgba(104, 172, 159, 0.6) 100%
        );
    }

    &.primary-grdt {
        background: rgb(251, 185, 86);
        background: radial-gradient(
            circle,
            rgba(251, 185, 86, 1) 11%,
            rgba(251, 185, 86, 0.8) 55%,
            rgba(251, 185, 86, 0.6) 100%
        );
    }

    &.secondary-grdt {
        background: rgb(255, 143, 133);
        background: radial-gradient(
            circle,
            rgba(255, 143, 133, 1) 11%,
            rgba(255, 143, 133, 0.8) 55%,
            rgba(255, 143, 133, 0.6) 100%
        );
    }

    &:hover {
        filter: saturate(200%);
        box-shadow: 3px 3px 8px hsla(240, 1%, 43%, 0.6);
    }
    img {
        height: 50px;
        margin-right: 15%;
        width: auto;
        aspect-ratio: 1 1;
    }
}
